header {
  section {
    @include flexDisplay(row, space-between, center);

    nav {
      display: flex;
      flex-flow: nowrap;
      justify-content: space-between;

      li {
        display: inline;
      }
    }
  }
}
