//Variable
$dark-brown: #382119;
$tan: #CCBE9F;
$off-white: #E0DCD3;
$light-teal: #ABC3C9;
// $primary-background: radial-gradient(circle, $dark-brown 0%, $tan 100%);



//Mix In
@mixin flexDisplay($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
};

@mixin addColor($background, $font) {
	background-color: $background;
	color: $font;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
    
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
    
  > img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
  }
}

