/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';
@import 'header';
@import 'loginPopup';
@import 'carousel';



body {
  background: $dark-brown;
  color: $off-white;
}

.hidden {
  display: none;
}